.carName {
    font-size: 3rem;
    margin: 3rem 0 1rem;
}
.carValue {
    font-size: 1.5rem;
    margin: 0;
}
h1 {
    font-size: 2rem
}
.imagesWrapper {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    padding: 1vh 0;
}