.carName {
    font-size: 3rem;
    margin: 3rem 0 1rem;
}
.carValue {
    font-size: 1.5rem;
    margin: 0;
}
h1 {
    font-size: 2rem
}
.imagesWrapper {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    padding: 1vh 0;
}

@media only screen and (max-width: 780px) {
    .car {
        padding: 0 3vw;
        h1.carName {
            font-size: 1.8rem;
            text-align: center;
        }
        h2 {
            font-size: 1.5rem;
        }
        .carValue {
            text-align: center;
        }
        p {
            padding: 0;
        }
    }
}