.header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  width: 100vw;
  &__inside,
  &__main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2vh 10vw;
    width: 100%;
    &__logo__link {
      align-items: center;
      display: flex;
      justify-content: center;
      &__image {
        height: auto;
        width: 6rem;
      }
      &__meta {
        display: flex;
        flex-flow: column wrap;
        margin-left: 1rem;
        &__title {
          font-family: "cubano", sans-serif;
          font-size: 2.1rem;
          font-style: italic;
          font-weight: 400;
          letter-spacing: 2px;
        }
        &__slogan {
          font-family: "gin", serif;
          font-weight: 400;
          font-size: 0.7rem;
          letter-spacing: 1px;
        }
      }
    }
    &__back_button,
    &__contact {
      font-family: "gin", serif;
      font-weight: 400;
      font-size: 1.2rem;
      &:hover {
        color: var(--light-black);
      }
    }
  }
  &__main {
    align-items: flex-start;
    background-image: url("../../content/assets/cover.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    height: 900px;
    padding: 2vh 0;
    &__logo__link {
      &__image {
        width: 12rem;
      }
      &__meta {
        &__title {
          font-size: 3rem;
        }
        &__slogan {
          font-size: 1rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 1440px) {
  .header__main {
    height: 768px;
    &__logo__link__image { width: 9rem; }
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    &__inside,
    &__main {
      &__logo__link {
        &__image {
          width: 6rem;
        }
        &__meta {
          &__title {
            font-size: 1.5rem;
          }
          &__slogan {
            font-size: .8rem;
          }
        }
      }
      &__back_button,
      &__contact {
        font-size: 1rem;
      }
    }
    &__main {
      height: 680px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .header {
    &__inside,
    &__main {
      padding: 2vh 5vw;
      &__logo__link {
        &__image {
          width: 5rem;
        }
      }
    }
    &__inside__meta { display: none; }
    &__main {
      height: 394px;
    }
  }
}
@media only screen and (min-width: 1921px) {
  .header {
    &__main {
      height: 1080px;
    }
  }
}
