.carsWrapper {
  display: flex;
  flex-flow: row;
  max-width: 100%;
  padding: 1vh;
}
$bgMenu: #fff;
$fontColor: #333232;
$bgItem: #fff;
$fakePadding: 1em;
$scrollBarHide: 1em;
// TODO: Add a little intro animation that "scroll" right to show to the user that there are more content

.menu {
  $sidePadding: 1em;

  color: $fontColor;
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ * {
    display: block;
  }

  &__wrapper {
    overflow: hidden;
    position: relative;
    top: -$scrollBarHide; // to hide scrollbar
    background: $bgMenu;
    z-index: 2;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: $sidePadding;
      height: 100%;
      top: 0;
      z-index: 3;
    }

    &:before {
      left: 0;
      background: linear-gradient(
        to right,
        $bgMenu 5%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &:after {
      right: 0;
      background: linear-gradient(
        to left,
        $bgMenu 5%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    // hide all the submenus
    &[data-submenu-name] {
      display: none;
      background: lighten($bgMenu, 20%);
      z-index: 1;
      margin-top: -$fakePadding;

      &:before {
        left: 0;
        background: linear-gradient(
          to right,
          lighten($bgMenu, 20%) 5%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      &:after {
        right: 0;
        background: linear-gradient(
          to left,
          lighten($bgMenu, 20%) 5%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }

    &--active {
      display: block;
    }
  }

  &__menu,
  &__submenu {
    margin: 0;
    //padding: .675em $sidePadding (.675em * 2) $sidePadding;
    list-style: none;
    overflow-x: scroll;
    position: relative;
    top: $scrollBarHide; // to hide scrollbar
    padding: 0 0 $scrollBarHide 0; // to hide scrollbar
  }

  li {
    display: inline-block;
    margin: $fakePadding 0 $fakePadding $fakePadding;
    padding: 0;

    &:last-child {
      margin-right: $fakePadding;
    }

    // if has submenu -> add an arrow down
    &[data-submenu] .menu__item {
      &:after {
        $arrowSize: 0.375em;

        content: "";
        margin-left: 5px;
        top: -0.1em;
        position: relative;
        display: inline-block;
        width: 0;
        height: 0;
        border-top: $arrowSize solid $fontColor;
        border-right: $arrowSize solid transparent;
        border-left: $arrowSize solid transparent;
      }
    }
  }

  &__item {
    background: $bgItem;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: $fontColor;
    display: inline-block;
    padding: 0;
    position: relative;
    width: 600px;

    &:hover {
      text-decoration: none;
    }

    &--active {
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        display: block;
        top: 100%;
        right: 50%;
        margin-right: -1em;
        border-bottom: 1em solid lighten($bgMenu, 20%);
        border-right: 1em solid transparent;
        border-left: 1em solid transparent;
      }
    }
  }
}


.text-hover-img {
  overflow: hidden;
  display: block;
  position: relative;
  transition: .5s ease-in-out;
  
  .gatsby-image-wrapper {
    display: block;
    object-fit: contain;
    width: 102%;
    filter: brightness(100%);
    transition: all .5s ease-in-out;
    will-change: transform;
  }
  
  figcaption {
    align-items: center;
    color: $bgItem;
    display: flex;
    filter: blur(5px);
    flex-flow: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all .5s ease-in-out;
    width: 100%;
    h1 {
      position: relative;
      display: inline-block;
      line-height: 150%;
      max-width: 100%;
      text-align: center;
      white-space: pre-wrap;
      width: 80%;
      &::after {
        content: " ";
        width: 0%;
        position: absolute;
        border-bottom: 3px solid $bgItem;
        left: 50%;
        bottom: 0%;
        transition: all .4s ease-in-out .2s;
      }
    }
    p {
      line-height: 1.5em;
      font-size: 1.5rem;
      margin: 0 0 2rem;
    }
    a {
      border: 1px solid $bgItem;
      color: $bgItem;
      cursor: pointer;
      padding: 1rem 3rem;
      transition: all .4s ease-in-out;
      &:hover {
        border: 1px solid $bgItem;
        background-color: $bgItem;
        color: $fontColor;
      }
    }
  }
}

.text-hover-img:hover {  
  .gatsby-image-wrapper {
    filter: brightness(30%) blur(3px);
    transform: scale(2);
  }
  
  figcaption{
    opacity: 1;
    filter: blur(0px);
    text-decoration: none;
    z-index:1;
    
    h1::after {
      width: 100%;
      left: 0%;
      bottom: -15%;
    }
  }
}


.slider-indicator {
  height: 2px;
  background-color: #efefef;
  margin-bottom: 50px;
}

#slider-indicator_bar {
  height: 100%;
  //width: 200px;
  background-color: #333232;
}