html, body {
    align-items: center;
    background-color: #333232;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.main-header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5vh 0;
}
main {
    display: flex;
    flex-flow: column;
    width: 80vw;
}

.card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
    height: auto;
    margin: 1rem;
    position: relative;
    flex-shrink: 0;
    width: 600px;
}